<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../layout/admin/header %>
        <title>商品新增</title>
</head>

<body class="gray-bg">
    <div class="container wrapper wrapper-content animated fadeInRight">
        <!-- bs3-panel:danger 生成一个面板 红色头部的 -->
        <div class="panel panel-danger">
            <div class="panel-heading">
                <%if(isedit){%>
                    <h3 class="panel-title">商品信息-修改</h3>
                    <%} else{%>
                        <h3 class="panel-title">商品新增</h3>
                        <%}%>

            </div>
            <div class="panel-body">
                <!-- bs3-form 生成一个表单 -->
                <%if(isedit){%>
                    <form method="POST" role="form" action="/admin/goods/edit/<%= model.id %>">
                        <%} else{%>
                            <form method="POST" role="form">
                                <%}%>
                                    <div class="form-group">
                                        <label>名字</label>
                                        <input name="name" type="text" class="form-control" placeholder="请输入商品名字" value="<%= model.name %>">
                                    </div>
                                    <div class="form-group">
                                        <label>分类</label>
                                        <select name="goods_type" class="form-control">
								<% goodsTypeList.forEach(function(item){%>
									<option value="<%= item.id %>" <%= item.id==model.goods_type?'selected':'' %>><%= item.name %></option>
									<%})%>
							</select>
                                    </div>
                                    <div class="form-group">
                                        <label>头像</label>
                                        <%if(isedit){%>
                                            <img src="<%= model.img %>" id="imgCtrl" alt="头像" style="width:200px;max-height:200px;">
                                            <input name="img" id="img" type="hidden" class="form-control" placeholder="请上传头像" value="<%= model.img %>">
                                            <%} else{%>
                                                <img src="/default.jpg" id="imgCtrl" alt="头像" style="width:200px;max-height:200px;">
                                                <input name="img" id="img" type="hidden" class="form-control" placeholder="请上传头像">
                                                <%}%>
                                                    <a href="javascript:void(0)" value="上传" id="uploadButton">上传</a>


                                    </div>
                                    <div class="form-group">
                                        <label>价格</label>
                                        <input name="price" type="text" class="form-control" placeholder="请输入商品价格" value="<%= model.price %>">
                                    </div>
                                    <div class="form-group">
                                        <label>库存</label>
                                        <input name="store_count" type="text" class="form-control" placeholder="请输入商品库存" value="<%= model.store_count %>">
                                    </div>
                                    <div class="form-group">
                                        <label>描述</label>
                                        <textarea name="description" class="form-control" cols="30" rows="5"><%= model.description %></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>详情</label>
                                        <textarea name="content" class="form-control" cols="30" rows="10"><%= model.content %></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-block btn-primary">保存</button>
                            </form>
            </div>
        </div>
    </div>

    <% include ../../layout/admin/footer  %>
        <script>
            KindEditor.ready(function(K) {
                var editor1 = K.create('textarea[name="content"]', {
                    uploadJson: '/common/kindeditor/uploadImg' //处理文件上传的服务器地址
                });
                var uploadbutton = K.uploadbutton({
                    button: K('#uploadButton')[0],
                    fieldName: 'imgFile',
                    url: '/common/kindeditor/uploadImg',
                    afterUpload: function(data) {
                        if (data.error === 0) {
                            var url = data.url;
                            K('#img').val(url);
                            K('#imgCtrl').attr('src', url);
                        } else {
                            alert(data.message);
                        }
                    },
                    afterError: function(str) {
                        alert('自定义错误信息: ' + str);
                    }
                });
                uploadbutton.fileBox.change(function(e) {
                    uploadbutton.submit();
                });
                // 修改单独上传文件插件的样式
                var upBtn = $('.ke-button').attr('class', '');
                upBtn.addClass('btn btn-danger btn-sm');
                $('.ke-button-common').height('auto');
                $('.ke-form').width('50px');
            });
        </script>
</body>

</html>